<div id="suggestion" class="panel panel-default">
    <div class="panel-heading">Abonnements</div>
    <div *ngFor="let abonne of auth.user.followers">
        <div class="panel-body">
            <div id="subscribe" class='input-group input-group-md'>
                <input type='text' id='tweet' class='form-control' placeholder="{{abonne.first_name}}">
                <span class='input-group-btn'>
                      <button  class ='btn btn-info' (click)= "unSubscribeToUser(abonne)">Unsubscribe</button>
                </span>
            </div>
        </div>
    </div>
</div>
