/* You can add global styles to this file, and also import other style files */

.tw-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px;
}
.tw-bg {
    background-color:#e7e7e7;
    background-position: 0 50%;
    background-size: 100% auto;
    border-color:#e7e7e7;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.tw-block {
    display: block;
}

.tw-photo {
    background-color: #000;
    border-radius: 6px;
    display: inline-block !important;
    margin: -35px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.tw-photo img{
    height: 72px;
    width: 72px;
}
.tw-divUser {
    margin: -35px 0 40px 100px;
}
.tw-divName {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}
.tw-divName a {
    color: inherit !important;
}
.tw-divStats {
     margin: -25px 0 40px 100px;
    margin-left: 11px;
    padding: 0px 0;
}
.tw-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.tw-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.tw-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.tw-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.tw-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    transition: color 0.15s ease-in-out 0s;
}
.tw-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.place-description{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    display: block;
    max-width: 100%;
    height: 110px;
}

.photo-thumbnail{
    background-color: #000;
    border-radius: 6px;
    display: inline-block;
    max-width: 100%;

}
.photo-thumbnail img{
  height: 72px;
  width: 72px;
  border-radius: 6px;
}
.description{
    max-width: 100%;
    width: 1000px;

}
.description p{
    text-align: justify;
}

.button-place{
    margin-top: 10px;
    text-align: right;
    margin-right: 1px;
}
.btn .btn-primary{
    text-align: center;
}
.tw-divright {
    padding: 2px;
    display: block;
    max-width: 100%;
    height: 80px;
}

.tw-photoright{
    background-color: #000;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: 10px 0 0 0;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.tw-photoright img{
    height: 38px;
    width: 38px;
}
.tw-divsub{
    margin: 10px 0 0 50px ;
}
.tw-divsub p{
    margin: 0 0 0 10px;
}
.tw-divsub button{
    margin: 1px 0px 0px 5px ;
    height: 23px;
}

.btn-primary{
    text-align: center;
    font-size: 12px;
    padding: 4px 10px 20px 10px;
}
.model-button{
    background-color: #000;
    margin-right:10px;
}
.close{
  padding-top: 10px;
}

@media screen and( max-width:732px){
    .form-control {
        size: 100px;
    }
    #input {
        size: 1000px;
    }   
}

@media screen and (min-width: 733px){
      .photo{
        max-width: 100%;
        height: auto;
      }
        .tw-div {
        margin-bottom: 20px;
      }
 }

@media screen and (min-width: 1024px){
     .photo{
        max-width: 100%;
        height: auto;
     }
     .photo img{
         height: auto;
         width: 100%;
     }
}