<div *ngIf="!auth_profil.click_profile">
    <div class="row">

        <div class="col-md-3 ">
            <div class="tw-div">
                <a class="tw-bg tw-block"></a>
                <div class="tw-photo">
                    <a routerLink="/profile"><img src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella"></a>
                </div>
                <div class="tw-divUser">
                    <div class="tw-divName">
                        <a routerLink="/profile">{{auth_profil.user.first_name}} {{auth_profil.user.last_name}}</a>
                    </div>
                    <span>
  				            <a routerLink="/profile">@<span>{{auth_profil.user.last_name}}</span></a>
                    </span>
                </div>

                <div class="tw-divStats">
                    <ul class="tw-Arrange">
                        <li class="tw-ArrangeSizeFit">
                            <a routerLink="/profile" title="Tweet">
                                <span class="tw-StatLabel tw-block">Tweets</span>
                                <span class="tw-StatValue">{{auth_profil.user.tweets.length}}</span>
                            </a>
                        </li>
                        <li class="tw-ArrangeSizeFit">
                            <a routerLink="/profile" title="Abonnements">
                                <span class="tw-StatLabel tw-block">Abonnements</span>
                                <span class="tw-StatValue">{{auth_profil.user.subscribers.length}}</span>
                            </a>
                        </li>
                        <li class="tw-ArrangeSizeFit">
                            <a routerLink="/profile" title="Abonnés">
                                <span class="tw-StatLabel tw-block">Abonnés</span>
                                <span class="tw-StatValue">{{auth_profil.user.followers.length}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="suggestion">
                <app-suggestions> </app-suggestions>
            </div>
        </div>

        <div class=" col-md-9">
            <app-userfeed></app-userfeed>
        </div>

    </div>
</div>
