<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-accueil></app-accueil>
<div class="container">
  <div *ngIf="app_auth.authenticated() && app_auth.click_profile">
    <div class="row">

      <div class=" col-md-3">
        <div id="table" class="panel panel-default">
          <div class="panel-heading">{{app_auth.user.first_name}} {{app_auth.user.last_name}}</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Tweets</th>
                    <th>Abonnements</th>
                    <th>Abonnés</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{app_auth.user.tweets.length}}</td>
                    <td>{{app_auth.user.subscribers.length}}</td>
                    <td>{{app_auth.user.followers.length}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-6">
        <div class=" panel-body span4 well" style="padding-bottom:0">
          <form accept-charset="UTF-8" [formGroup]="userform" (submit)="postAtweet()">
            <div class="input-group" style="padding-bottom:0">
              <div class="input-group">
                <input style="padding-bottom:100" size="100" maxlength="255" class="form-control" placeholder="Quoi de neuf?" formControlName="text" type="text">
              </div>
              <div class="btn-u pull-right" style="padding-top:100">
                <button class="btn btn-info " type="submit" [disabled]="!userform.valid">Post New Tweet</button>
              </div>
            </div>
          </form>
        </div>
        <br/>
        <app-userfeed></app-userfeed>
      </div>

      <div class=" col-md-3" *ngIf="app_auth.getSuggestionsLength() > 0 ">
        <app-suggestions> </app-suggestions>
      </div>

    </div>
  </div>
</div>