<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <router-outlet></router-outlet>
    <div *ngIf="app_auth.authenticated() && app_auth.click_profile">
      <div class="row">

        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="tw-div">
            <a class="tw-bg tw-block"></a>
            <div class="tw-photo">
              <a routerLink="/profile"><img src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella"></a>
            </div>
            <div class="tw-divUser">
              <div class="tw-divName">
                <a routerLink="/profile">{{app_auth.user.first_name}} {{app_auth.user.last_name}}</a>
              </div>
              <span>
  				<a routerLink="/profile">@<span>{{app_auth.user.last_name}}</span></a>
              </span>
            </div>

            <div class="tw-divStats">
              <ul class="tw-Arrange">
                <li class="tw-ArrangeSizeFit">
                  <a routerLink="/profile" title="Tweet">
                    <span class="tw-StatLabel tw-block">Tweets</span>
                    <span class="tw-StatValue">{{app_auth.user.tweets.length}}</span>
                  </a>
                </li>
                <li class="tw-ArrangeSizeFit">
                  <a routerLink="/profile" title="Abonnements">
                    <span class="tw-StatLabel tw-block">Abonnements</span>
                    <span class="tw-StatValue">{{app_auth.user.subscribers.length}}</span>
                  </a>
                </li>
                <li class="tw-ArrangeSizeFit">
                  <a routerLink="/profile" title="Abonnés">
                    <span class="tw-StatLabel tw-block">Abonnés</span>
                    <span class="tw-StatValue">{{app_auth.user.followers.length}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class=" col-md-6 col-sm-12 col-xs-12">
          <div class="place-description">
            <div id="photoinput" class="col-md-2 col-sm-2 col-xs-2">
              <div class="photo-thumbnail">
                <img class="img-responsive" src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella">
              </div>
            </div>
            <div id="inputid" class="col-md-10 col-sm-10 col-xs-10">
              <form accept-charset="UTF-8" [formGroup]="userform" (submit)="postAtweet()">
                <div class="description">
                  <input class="form-control" placeholder="Quoi de neuf?" formControlName="text" type="text">
                </div>
                <div class="button-place">
                  <button class="btn btn-info " type="submit" [disabled]="!userform.valid">Post Tweet</button>
                </div>
              </form>
            </div>
          </div>
          <br/>
          <app-userfeed></app-userfeed>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12" *ngIf="app_auth.getSuggestionsLength() > 0 ">
          <app-suggestions> </app-suggestions>
        </div>

      </div>
    </div>
  </div>
  <div>