<div id="suggestion" class="panel panel-default">
    <div class="panel-heading">Suggestions</div>
    <div *ngFor="let user of auth.user.suggestions">
        <div class="panel-body">
            <div id="subscribe" class='input-group input-group-md'>
                <input type='text' id='tweet' class='form-control' placeholder="{{user.first_name}}">
                <span class='input-group-btn'>
              <button  class ='btn btn-info' (click)= "subscribeToUser(user)">Subscribe</button>
        </span>
            </div>
        </div>
    </div>
</div>

<!--div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of moviesList; let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
          <h5>Title: {{movie.title}}</h5>
          <p>Date: {{movie.release_date}}</p>
          <p>Popularity: {{movie.popularity}}</p>
        </div>
      </div>
    </div>
  </div>
</div-->