<div *ngFor="let tweet of auth.user.tweets">
    <div id="tweets" class="panel panel-default">
        <div class="panel-body">
            <div class="photo-thumbnail">
                <a href=""><img src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella"></a>
            </div>
            <div class="tw-tweetUser">
                <a routerLink="/profile">{{auth.user.first_name}} {{auth.user.last_name}}</a> <a href="">@<span>{{auth.user.last_name}}</span></a>
                <p>{{tweet.tweet}}</p>
                <div class="clearfix">
                    <button class='btn btn-info pull-right' (click)="deleteTweet(tweet)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showRetweet !== 'tweet'">
    <div *ngFor="let subscriber of auth.user.subscribers; let i = index;">
        <div *ngIf="subscriber.tweets.length > 0 ">
            <div id="tweets" class="panel panel-default">
                <div class="panel-body">
                    <div class="photo-thumbnail">
                        <a href=""><img src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella"></a>
                    </div>
                    <div class="retweet">
                        <a routerLink="/profile">{{subscriber.first_name}} {{subscriber.last_name}}</a> <a href="">@<span>{{subscriber.last_name}}</span></a>
                        <p> {{subscriber.tweets[subscriber.tweets.length-1].tweet}}</p>
                        <div class="clearfix">
                            <button class='btn btn-info pull-right' (click)="deleteTweet(tweet)">Retweet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>