<div *ngFor="let tweet of auth.user.tweets">
    <div id="tweets" class="panel panel-default">
        <div class="panel-body">
            <div class="photo-thumbnail">
                <a href=""><img src="http://zupimages.net/up/16/49/0xdx.png" alt="Jean Mary Borgella"></a>
            </div>
            <div class="tw-tweetUser">
                <a href="">{{auth.user.first_name}} {{auth.user.last_name}}</a> <a href="">@<span>{{auth.user.last_name}}</span></a>
                <p>{{tweet.tweet}}</p>
                <div id="boutontweet">
                    <button class='btn btn-info' (click)="deleteTweet(tweet)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>