
.button-place{
    margin-top: 30px;
    text-align: right;
    
}

.photo-thumbnail{
    background-color: #000;
    border-radius: 6px;
    display: inline-block;
    max-width: 100%;

}
.photo-thumbnail img{
  height: 38px;
  width: 38px;
  border-radius: 6px;
}
.tw-tweetUser {
    margin: -35px 0 40px 50px;
}

#boutontweet{
    margin-bottom: 10px;
}

.panel-body {
    height: 100px;
}

.btn-info{
        margin-left: 360px;
        padding: 5px;   
}

@media screen and(max-width: 780px){
    
}