<div *ngIf="app_auth.authenticated()">
  <div class="row">

    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="tw-div">
        <a class="profil-background"></a>
        <div class="profile-picture">
          <a routerLink="/profile"><img src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella"></a>
        </div>
        <div class="tw-divUser">
          <div class="tw-divName">
            <a routerLink="/accueil">{{app_auth.user.first_name}} {{app_auth.user.last_name}}</a>
          </div>
          <span>
  				    <a routerLink="/accueil">@<span>{{app_auth.user.last_name}}</span></a>
          </span>
        </div>
        <div class="tw-divStats">
          <ul class="tw-Arrange">
            <li class="tw-ArrangeSizeFit">
              <a routerLink="/profile" title="Tweet">
                <span class="tw-StatLabel tw-block">Tweets</span>
                <span class="tw-StatValue">{{app_auth.user.tweets.length}}</span>
              </a>
            </li>
            <li class="tw-ArrangeSizeFit">
              <a routerLink="/profile" title="Abonnements">
                <span class="tw-StatLabel tw-block">Abonnements</span>
                <span class="tw-StatValue">{{app_auth.user.subscribers.length}}</span>
              </a>
            </li>
            <li class="tw-ArrangeSizeFit">
              <a routerLink="/profile" title="Abonnés">
                <span class="tw-StatLabel tw-block">Abonnés</span>
                <span class="tw-StatValue">{{app_auth.user.followers.length}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <br>
    </div>

    <div class=" col-md-6 col-sm-12 col-xs-12">
      <div class="place-description">
        <div id="photoinput" class="col-md-2 col-sm-3 col-xs-4">
          <div class="photo">
            <img class="img-responsive" src="https://s3.ca-central-1.amazonaws.com/borgellaaws/avatar.jpeg" alt="Jean Mary Borgella">
          </div>
        </div>
        <div id="inputid" class="col-md-10 col-sm-9 col-xs-8">
          <form accept-charset="UTF-8" [formGroup]="userform" (submit)="postAtweet()">
            <div class="description">
              <input class="form-control" placeholder="Quoi de neuf?" formControlName="text" type="text">
            </div>
            <div class="button-place">
              <button class="btn btn-info " type="submit" [disabled]="!userform.valid">Post Tweet</button>
            </div>
          </form>
        </div>
      </div>
      <br/>
      <app-userfeed></app-userfeed>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12" *ngIf="app_auth.getSuggestionsLength() > 0 ">
      <app-suggestions></app-suggestions>
    </div>

  </div>
</div>